@import "tailwindcss";

@theme {
    /*Colors*/
    --color-*: initial; /*Break default colors*/
    --color-white: #FFFFFF;
    --color-black: #0A0A0A;
    --color-primary: #F7F8FA;
    --color-secondary: #EAF2F9;
    --color-tertiary: #B1CFE833;
    --color-danger: #9A1915;
    --color-accent: #183A68;

    /*Spacing*/
    --spacing: 5px;

    /*Text size*/
    --text-xxl: 64px;
    --text-xxl--line-height: 100%;

    --text-xl: 42px;
    --text-xl--line-height: 100%;

    --text-xlg: 36px;
    --text-xlg--line-height: 100%;

    --text-lg: 24px;
    --text-lg--line-height: 105%;

    --text-base: 16px;
    --text-base--line-height: 120%;

    --text-sm: 14px;
    --text-sm--line-height: 100%;

    --text-thin: 10px;
    --text-thin--line-height: 100%;
}

@layer base {
    body {
        @apply bg-primary
    }

    * {
        font-family: var(--font-freesans), sans;
    }

    h2 {
        @apply text-xl font-bold text-white;
    }
}

.container {
    max-width: 1440px;
    margin-inline: auto;

    @apply px-4 md:px-8;
}

.blurred-card {
    @apply backdrop-blur-[15px] p-5  flex flex-col justify-between cursor-pointer;
    transition: 200ms
}

.blurred-card:active {
    transform: scale(1.05);
}

.blurred-card__text {
    @apply text-white text-lg font-bold mt-10;
    word-break: break-all;
}

.form-button {
    @apply text-danger bg-white flex items-center justify-center gap-2 p-4 uppercase font-bold cursor-pointer;
    transition: 200ms;
}

.form-button:active {
    transform: scale(0.98);
}

.icon-tag {
    @apply flex items-center justify-center uppercase text-accent font-bold text-sm bg-tertiary;
}

.icon-tag-text {
    @apply py-4 px-5;
}

.icon-tag-icon {
    @apply rounded-full w-[54px] h-[54px];
}

.big-card-slide-active {
    max-width: 670px !important;
}

.big-card-slide-active img {
    height: 404px;
}