@import "tailwindcss";

@theme {
    /*Colors*/
    --color-*: initial; /*Break default colors*/
    --color-white: #FFFFFF;
    --color-black: #0A0A0A;
    --color-primary: #F7F8FA;
    --color-secondary: #EAF2F9;
    --color-danger: #9A1915;
    --color-accent: #183A68;

    /*Spacing*/
    --spacing: 5px;

    /*Text size*/
    --text-xxl: 64px;
    --text-xxl--line-height: 100%;

    --text-xl: 42px;
    --text-xl--line-height: 100%;

    --text-lg: 24px;
    --text-lg--line-height: 105%;

    --text-base: 16px;
    --text-base--line-height: 120%;

    --text-sm: 14px;
    --text-sm--line-height: 100%;

    --text-thin: 10px;
    --text-thin--line-height: 100%;
}

@layer base {
    * {
        font-family: var(--font-freesans), sans;
    }
}

.container {
    max-width: 1440px;
    margin-inline: auto;

    @apply p-4 md:p-8
}

.blurred-card {
    @apply backdrop-blur-[15px] p-5  flex flex-col justify-between cursor-pointer;
    transition: 200ms
}

.blurred-card:active {
    transform: scale(1.05);
}

.blurred-card__text {
    @apply text-white text-lg font-bold mt-10;
    word-break: break-all;
}

.form-button {
    @apply text-danger bg-white flex items-center justify-center gap-2 p-4 uppercase font-bold cursor-pointer;
    transition: 200ms;
}

.form-button:active {
    transform: scale(0.98);
}